@font-face {
    font-family: OpenSans-Regular ;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Bold ;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

.welcome {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding-top: 190px;
    padding-bottom: 135px;
    margin-bottom: 65px;
    min-width: 1600px;
}

.welcome::after {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;

}

.welcome-title {
    position: relative;
    z-index: 1;
    width: 750px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 45px;
    line-height: 75px;
    margin: 0 auto;
}

.navigation {
    position: absolute;
    top: 45px;
    right: 245px;
    z-index: 1;

}

.navigation-list {

    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    line-height: 36px;

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation-list-item:nth-child(n+2) {
    margin-left: 10px;
}

.logo {

    top: 35px;
    left: 245px;
    position: absolute;
    z-index: 1;
    width: 180px;
}

.link-menu {
    text-decoration: none;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #ffffff;
}

.link-team {
    text-decoration: none;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #ae9e5f;
}

.new {
    display: flex;
    width: 800px;
}

.date-author {
    display: flex;
    font-size: 12px;
    font-family: OpenSans-Regular;
    margin: 25px 0 0;
    padding: 0;
}

.teams-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.teams-list-item:nth-child(n+2) {
    margin-left: 10px;
}

.name-new {
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 20px;
    margin: 15px 0 0;
    padding: 0;

}

.date-author-text:nth-child(n+2) {
    margin-left: 10px;
}

.text-new {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-grid-mode: 22px;
    margin: 41px 0 0;
    padding: 0;
}

.content-new {
    margin-left: 30px;
}

.new {
    margin-left: 350px;
}

.new:nth-child(n+2) {
    margin-top: 60px;
}

body {
    margin: 0;
}

span {
    font-weight: bold;
}

