@font-face {
    font-family: OpenSans-Regular ;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Bold ;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

.welcome {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;

    padding-top: 190px;
    padding-bottom: 135px;
    min-width: 1600px;
}

.welcome::after {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;

}

.welcome-title {
    position: relative;
    z-index: 1;
    width: 750px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 45px;
    line-height: 75px;
    margin: 0 auto;
}

body {
    margin: 0;
}

